<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', { title: title }) %>

<body>
  <%- include('./partials/nav.ejs') %>


  <div class="About-content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium similique dicta, inventore eius natus assumenda expedita ad atque magni commodi ut illo cupiditate ratione vel. Porro alias iste impedit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium similique dicta, inventore eius natus assumenda expedita ad atque magni commodi ut illo cupiditate ratione vel. Porro alias iste impedit?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui praesentium similique dicta, inventore eius natus assumenda expedita ad atque magni commodi ut illo cupiditate ratione vel. Porro alias iste impedit?</p>
   </div>
   <%- include('./partials/footer.ejs') %>
</body>
</html>